<!-- <h1>notre app angular </h1>
<!-- <courses></courses>
<p>{{body | resume:2}}</p> -->
<!-- <app-favorites [is-favorite]="post.isFavorite" (changed)="onFavoriteChanged($event)"></app-favorites> --> 
<!-- <app-panel>
    <div class="header">
          This is the header
        </div>
        <div class="body">
            <h3>this is the content</h3>
    </div>
    <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus repellendus id inventore nesciunt hic eveniet minima deleniti ad animi sed laboriosam, quod odit dolore porro. Minus, doloremque! Est, similique perferendis.</p>
    </div>
</app-panel> -->

<!-- <div *ngIf="courses.length > 0; then ListCourses else noCourses"></div>
<ng-template #ListCourses>List de mes cours</ng-template>
<ng-template #noCourses>Pas de cours</ng-template> -->

<!-- <div [hidden] = "courses.length == 0">
    Liste des mes cours
</div>

<div [hidden] = "courses.length > 0">
    Pas de cours
</div> -->

<!-- <ul class="nav nav-pills">
    <li class="nav-item">
    <a class="nav-link" [class.active]="viewCourse=='Angular'" (click)="viewCourse = 'Angular'">Angular</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="viewCourse=='Symfony'" (click)="viewCourse = 'Symfony'">Symfony</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="viewCourse=='Laravel'" (click)="viewCourse = 'Laravel'">Laravel</a>
    </li>   
  </ul> -->



<!-- <div [ngSwitch]="viewCourse">
    <div *ngSwitchCase="'Laravel'">Lorem Laravel</div>
    <div *ngSwitchCase="'Symfony'">lorem Symfony</div>
    <div *ngSwitchCase="'Angular'">Lorem Angular</div>
    <div *ngSwitchDefault>output2</div>

</div> -->

<!-- <ul>
    <li *ngFor="let course of courses; index as i; even as isEven; last as l">
       <span *ngIf="l">Even - </span>
        {{i}} {{ course.id}} {{ course.title }}
    </li>
</ul> -->
<!-- <button *ngIf="display" class="btn btn-success" (click)="addCourse()">Ajouter</button> -->
<!-- <ul  *ngIf="display">
    <li *ngFor="let course of courses">
       {{ course.id}} {{ course.title }}
<button class="btn btn-danger" (click)="removeCourse(course)">Delete</button>
<button class="btn btn-warning" (click)="editCourse(course)">Edit</button>

    </li>
</ul> -->
<!-- <button class="btn btn-primary" (click)="onLoad()">Load</button>
<ul>
    <li *ngFor="let course of courses;trackBy:onTrack">
       {{ course.id}} {{ course.title }}
<button class="btn btn-danger" (click)="removeCourse(course)">Delete</button>
<button class="btn btn-warning" (click)="editCourse(course)">Edit</button>

    </li>
</ul> -->
<!-- 
<button class="btn"
  [ngClass]="{
       'btn-primary' : isSelected,
       'btn-warning' : !isSelected
     }"
     [ngStyle]="{
           'font-size': isSelected ? '14px': '18px'
            }"
     (click) = "myFavorite()"
     >click me

</button> -->

<!-- <p>{{personne.adresse.ville }}</p> -->
<!-- <p *ngIf="personne.adresse">{{personne.adresse.ville }}</p> -->
<!-- <p>{{personne.adresse?.ville }}</p> -->

<!-- <br>
<input type="text"  [appInputFormat]="'lowercase'"> -->
<!-- <app-contact-form></app-contact-form> -->

<!-- <div class="container">
  <div class="col-md-6 offset-md-3">
            <app-signup-form></app-signup-form>  
    </div>
</div> -->

<app-posts></app-posts>
















